@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyMvcProject</h1>
    <p>This is a sample MVC application with user management functionality.</p>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Home Features</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/Home/Privacy" class="text-decoration-none">Privacy Policy</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none">About Us</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-success text-white">
                    <h5 class="mb-0">User Management</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/User/List" class="text-decoration-none">View All Users</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/User/Create" class="text-decoration-none">Add New User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-warning text-dark">
                    <h5 class="mb-0">Product Management</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/Product/Index" class="text-decoration-none">View All Products</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/Product/Create" class="text-decoration-none">Add New Product</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4"></div>
            <div class="card mb-4">
                <div class="card-header bg-warning text-dark">
                    <h5 class="mb-0">Branch Management</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/Branch/Index" class="text-decoration-none">View All Branches</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/Branch/Create" class="text-decoration-none">Add New Branch</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>